<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_ACTIONLANGUAGE_PROFILE/"
            target="platform:/plugin/org.eclipse.papyrus.alf.libraries/resources/action-language-profile/">
      </mapping>
      <mapping
            source="pathmap://PAPYRUS_ALF_LIBRARY/"
            target="platform:/plugin/org.eclipse.papyrus.alf.libraries/resources/action-language-libraries/">
      </mapping>
      <mapping
            source="pathmap://PAPYRUS_BACKUP_PROFILE/"
            target="platform:/plugin/org.eclipse.papyrus.alf.libraries/resources/backup-profile/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            iconpath="resources/icons/script_wiz.gif"
            name="ActionLanguage"
            path="pathmap://PAPYRUS_ACTIONLANGUAGE_PROFILE/ActionLanguage-Profile.profile.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            name="Alf Library"
            path="pathmap://PAPYRUS_ALF_LIBRARY/Alf.library.uml">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            iconpath="resources/icons/script_wiz.gif"
            name="TextualRepresentationBackup"
            path="pathmap://PAPYRUS_BACKUP_PROFILE/backup-profile.profile.uml">
      </profile>
   </extension>

</plugin>
