<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.eltesoft.modelexecution.validation.ClassValidation" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.eltesoft.modelexecution.validation.ClassValidation" id="hu.eltesoft.modelexecution.validation.ClassValidation"/>
  </extension>
  <extension id="hu.eltesoft.modelexecution.validation.General" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.eltesoft.modelexecution.validation.General" id="hu.eltesoft.modelexecution.validation.General"/>
  </extension>
  <extension id="hu.eltesoft.modelexecution.validation.Structure" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.eltesoft.modelexecution.validation.Structure" id="hu.eltesoft.modelexecution.validation.Structure"/>
  </extension>
  <extension id="hu.eltesoft.modelexecution.validation.statemachine.StateMachine" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.eltesoft.modelexecution.validation.statemachine.StateMachine" id="hu.eltesoft.modelexecution.validation.statemachine.StateMachine"/>
  </extension>
</plugin>
