<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
     <startup class="hu.eltesoft.modelexecution.ide.IdePlugin"/>
   </extension>
  <extension id="hu.eltesoft.modelexecution.builders.modelbuilder" name="%builder.name" point="org.eclipse.core.resources.builders">
    <builder>
      <run class="hu.eltesoft.modelexecution.ide.builder.ModelBuilder"/>
    </builder>
  </extension>
  <extension
         point="org.eclipse.papyrus.infra.core.model">
      <modelSetSnippet
            classname="hu.eltesoft.modelexecution.ide.ModelSetListener"
            description="Papyrus model set listener">
      </modelSetSnippet>
   </extension>
  <extension
        id="hu.eltesoft.modelexecution.builders.stratumbuilder"
        name="%stratumbuilder.name"
        point="org.eclipse.core.resources.builders">
     <builder>
        <run
              class="hu.eltesoft.modelexecution.ide.builder.StratumBuilder">
        </run>
     </builder>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
     <wizard
           category="org.eclipse.papyrus.wizards.category"
           class="hu.eltesoft.modelexecution.ide.ui.ExecutableModelProjectWizard"
           icon="resources/project-icon.gif"
           id="hu.eltesoft.modelexecution.wizards.createExecutableModelProject"
           name="%project.wizard.name"
           project="true">
     </wizard>
  </extension>
   <extension
      point="org.eclipse.core.resources.natures"
      id="hu.eltesoft.modelexecution.natures.executableModelNature"
      name="%nature.name">
      <runtime>
         <run class="hu.eltesoft.modelexecution.ide.project.ExecutableModelNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <requires-nature
            id="com.incquerylabs.emdw.common.nature">
      </requires-nature>
      <builder
            id="hu.eltesoft.modelexecution.builders.modelbuilder">
      </builder>
      <builder
            id="hu.eltesoft.modelexecution.builders.stratumbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="hu.eltesoft.modelexecution.ide.ui.ExecutableModelPropertiesPage"
            id="hu.eltesoft.modelexecution.ide.projectPropertyPage"
            name="%project.property.page.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="hu.eltesoft.modelexecution.natures.executableModelNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.papyrus.moka.engine">
      <engine
            class="hu.eltesoft.modelexecution.ide.debug.XUmlRtExecutionEngine"
            description="%mokaExecutionEngine.description">
      </engine>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="hu.eltesoft.modelexecution.ide.launch.ExecutableModelLaunchDelegate"
            id="hu.eltesoft.modelexecution.ide.launchConfigs.executableModel"
            modes="run, debug"
            name="%launchConfigurationType.name"
            sourceLocatorId="org.eclipse.papyrus.moka.sourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="hu.eltesoft.modelexecution.ide.ui.LaunchConfigTabGroup"
            id="hu.eltesoft.modelexecution.ide.launchConfiguration.tabGroup.executableModel"
            type="hu.eltesoft.modelexecution.ide.launchConfigs.executableModel">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="hu.eltesoft.modelexecution.ide.ui.LaunchConfigMainTab"
            group="hu.eltesoft.modelexecution.ide.launchConfiguration.tabGroup.executableModel"
            id="hu.eltesoft.modelexecution.ide.tabs.executableModel.mainTab"
            name="%launchConfigurationTab.main.name">
      </tab>
      <tab
            class="hu.eltesoft.modelexecution.ide.ui.LaunchConfigTracingLoggingTab"
            group="hu.eltesoft.modelexecution.ide.launchConfiguration.tabGroup.executableModel"
            id="hu.eltesoft.modelexecution.ide.tabs.executableModel.tracingLoggingTab"
            name="%launchConfigurationTab.tracingAndLogging.name">
         <placement
               after="hu.eltesoft.modelexecution.ide.tabs.executableModel.mainTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="hu.eltesoft.modelexecution.ide.launchConfiguration.tabGroup.executableModel"
            id="hu.eltesoft.modelexecution.ide.tabs.executableModel.commonTab"
            name="%launchConfigurationTab.common.name">
         <placement
               after="hu.eltesoft.modelexecution.ide.tabs.executableModel.tracingLoggingTab">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="hu.eltesoft.modelexecution.ide.launchConfigs.executableModel"
            icon="resources/launch-config-type-icon.gif"
            id="hu.eltesoft.modelexecution.ide.launchConfigs.executableModel.icon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="hu.eltesoft.modelexecution.ide.buildpath.RuntimeLibraryContainerInitializer"
            id="hu.eltesoft.modelexecution.ide.runtimeClasspathInitializer">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="hu.eltesoft.modelexecution.ide.buildpath.RuntimeLibraryContainerWizardPage"
            id="hu.eltesoft.modelexecution.ide.runtimeClasspathInitializer"
            name="%runtime.library.name">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="hu.eltesoft.modelexecution.ide.launch.RuntimeClasspathProvider"
            id="hu.eltesoft.modelexecution.ide.project.runtimeClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         id="hu.eltesoft.modelexecution.markers.umlProblemMarker"
         name="%markers.umlProblemMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="hu.eltesoft.modelexecution.ide.builder.StratumCompilationParticipant"
            id="hu.eltesoft.modelexecution.ide.builder.StratumCompilationParticipant">
      </compilationParticipant>
   </extension>
</plugin>
